$default-font:      "circe", sans;
$alter-font:        "playfair-display-bold", sans-serif;
$accent-font:       "introscriptr", sans;
$accent:            #f50049;
$white:             #ffffff;
$text:              rgba(45,40,41,1);
$bg:                #fbebea;
$container-d:       1220px;
