$default-font:      "circe", sans;
$alter-font:        "playfair-display-bold", sans-serif;
$alter-font-b-i:    "playfair-display-bolditalic", sans-serif;
$accent-font:       "introscriptr", sans;

$accent:            #f50049;
$white:             #ffffff;
$text:              rgba(45,40,41,1);
$bg:                #fbebea;
$footer-bg:         #e8e8e8;

$container-d:       1220px;
$tablet:            768px;
$mobile:            320px;
