.advantages {

  &__wrapper {

    width: $container-d;
    margin: 0 auto;
    padding: 0 10px;

    background-image: url(../img/ill_raspberry_2.png), url(../img/ill_leaves.png), url(../img/ill_blueberries.png), url(../img/ill_leaves_2.png);
    background-repeat: no-repeat;
    background-position: 0 50px, 410px 110px, 170px 0, 330px 550px;
    background-size: auto, auto, auto, auto;
  }
  &__title {

    margin: 0;
    margin-bottom: 5px;

    font-family: $alter-font;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;

    text-align: center;

    &--left {
      margin-top: 200px;
      text-align: left;
    }
  }
  &__subtitle {

    margin: 0;

    font-family: $accent-font;
    font-size: 35px;
    line-height: 59px;
    font-weight: 400;

    text-align: center;

    &--left {
      text-align: left;
    }
  }
}

@media (max-width: $container-d) {
  .advantages {

    &__wrapper {
      width: $tablet;
      padding: 0 20px;
      box-sizing: border-box;
      background-position: 0 5px, 215px 80px, 150px 0, 250px 290px;
    }
    &__title {
      font-size: 28px;
      &--left {
        margin-top: 100px;
        text-align: left;
      }
    }
    &__subtitle {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }
}
