.cake-category {
  padding: 35px 45px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {

    background-color: rgb(174, 174, 174);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.12);

    transition: .3s;
  }
  &__title {

    margin: 0;

    font-size: 24px;
    color: $text;
  }
  &__counter {

    font-size: 20px;

    color: $text;
    opacity: .7;
  }
  &__to-all {
    position: relative;
    padding-right: 20px;

    align-self: flex-end;

    text-decoration: none;
    color: $text;
    &::after {
      content: "";
      position: absolute;

      width: 17px;
      height: 12px;

      top: 5px;
      right: -5px;

      background-image: url(../img/copy-arrow.png);
    }
  }
  &--size--m {
    width: 485px;
    height: 305px;
  }
  &--size--l {
    width: 695px;
    height: 650px;
  }
  &--theme--classics {
    background-color: $white;
    background-image: url(../img/classics.jpg);
    background-size: auto;
  }
  &--theme--mousse {
    background-color: $white;
    background-image: url(../img/mousse.jpg);
    background-size: auto;
    margin-bottom: 40px;
  }
  &--theme--wedding {
    background-color: $white;
    background-image: url(../img/wedding.jpg);
    background-size: auto;
  }
  &--theme--formen {
    background-color: $white;
    background-image: url(../img/formen.jpg);
    background-size: auto;
    margin-bottom: 40px;
  }
  &--theme--forwoman {
    background-color: $white;
    background-image: url(../img/forwoman.jpg);
    background-size: auto;
  }
  &--theme--forchild {
    background-color: $white;
    background-image: url(../img/forchild.jpg);
    background-size: auto;
  }
}

@media (max-width: $container-d) {
  .cake-category {
    padding: 20px 25px;
    cursor: pointer;
    &__title {
      font-size: 14px;
      line-height: 14px;
    }
    &__counter {
      font-size: 11px;
      line-height: 11px;
    }
    &__to-all {
      display: none;
    }
    &--size--m {
      width: 290px;
      height: 185px;
    }
    &--size--l {
      width: 420px;
      height: 390px;
    }
    &--theme--classics {
      background-size: cover;
    }
    &--theme--wedding {
      background-size: cover;
    }
    &--theme--mousse {
      background-size: cover;
      margin-bottom: 20px;
    }
    &--theme--formen {
      background-size: cover;
      margin-bottom: 20px;
    }
    &--theme--forwoman {
      background-size: cover;
    }
    &--theme--forchild {
      background-size: cover;
    }
  }
}

@media (max-width: $tablet) {
  .cake-category {
    padding: 10px 15px;

    &__title {
      font-size: 14px;
      line-height: 14px;
    }
    &__counter {
      font-size: 11px;
      line-height: 11px;
    }
    &__to-all {
      display: none;
    }
    &--size--m {
      width: 280px;
      height: 120px;
    }
    &--size--l {
      width: 280px;
      height: 120px;
    }
    &--theme--classics {
      background-size: cover;
      margin-bottom: 10px;

    }
    &--theme--wedding {
      background-size: cover;
      margin-bottom: 10px;

    }
    &--theme--mousse {
      background-size: cover;
      margin-bottom: 10px;
    }
    &--theme--formen {
      background-size: cover;
      margin-bottom: 10px;
    }
    &--theme--forwoman {
      background-size: cover;
      margin-bottom: 10px;

    }
    &--theme--forchild {
      background-size: cover;
      margin-bottom: 10px;

    }
  }
}
