.contacts {

  margin-bottom: 80px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    width: $container-d;
    margin: 0 auto;
    padding: 0 10px;

    // background-image: url(../img/fruit_contacts.png);
  }
  &__title {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 20px;
    flex-basis: 100%;

    font-family: $alter-font;
    font-size: 40px;
    line-height: 50px;
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    flex-basis: 100%;

    font-family: $accent-font;
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
  }
  &__description {
    flex-basis: 440px;
    padding-left: 15px;
  }
  &__phone {
    margin: 0;
    margin-bottom: 15px;
  }
  &__email {
    margin-bottom: 15px;
  }
}

@media (max-width: $container-d) {
  .contacts {

    &__wrapper {
      width: $tablet;
      padding: 0 46px;
      box-sizing: border-box;
    }
    &__title {
      margin-top: 45px;
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 32px;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 15px;
    }
    &__description {
      margin-left: auto;
      flex-basis: 250px;
      font-size: 14px;
      box-sizing: border-box;
    }
    &__phone {
      margin-bottom: 5px;
    }
    &__email {
      margin: 0;
      margin-bottom: 5px;
    }
  }
}
