.description-advantages {

  // width: 250px;

  display: flex;

  &__wrapper {
    display: flex;
    flex-direction: column;

  }
  &__img {
    align-self: flex-start;
    width: 65px;

    padding-right: 15px;
  }
  &__title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
  }
  &__text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $tablet) and (max-width: $container-d) {
  .description-advantages {

    &__img {
      align-self: center;
      max-width: 45px;

    }
    &__title {
      font-size: 15px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
