.feedback-form {
  flex-basis: 600px;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 15px;
  }
  &__input {
    width: 550px;
    padding: 12px 0;
    margin-bottom: 15px;

    font-family: $default-font;
    font-size: 14px;
    color: $text;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c9bcbb;
  }
  &__button {
    margin-top: 65px;
    margin-right: auto;
  }
}

@media (min-width: $tablet) and (max-width: $container-d) {
  .feedback-form {
    flex-basis: 345px;

    &__title {
      font-size: 14px;
      line-height: 18px;
    }
    &__input {
      width: 345px;
      padding: 15px 15px;
      margin-bottom: 10px;

      font-size: 14px;
      color: $text;

      background-color: $white;
      border: none;
      &--question {

        height: 80px;
      }
    }
    &__button {
      margin-top: 15px;
    }
  }
}
