.filling-slider {

  display: flex;
  width: 750px;

  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  &__img {
    width: 340px;
    height: 390px;
  }
  &__info {
    padding: 60px 40px;
  }
  &__title {

    font-family: $default-font;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;

  }
  &__descripton {
    font-family: $default-font;
    font-size: 18px;
    line-height: 24px;
  }
  &__price {
    display: block;
    margin-bottom: 25px;
    font-family: $alter-font;
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: $container-d) {
  .filling-slider {

    width: 440px;
    margin: 0;


    &__img {
      width: 210px;
      height: 240px;
    }
    &__info {
      min-width: 190px;
      padding: 20px 20px;
    }
    &__title {
      margin: 0;
      margin-bottom: 5px;

      font-size: 18px;
    }
    &__description {
      margin: 0;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
    }
    &__price {
      font-size: 20px;
    }
  }
}

@media (max-width: $tablet) {
  .filling-slider {

    // margin-left: 40px;

  }
}
