.individual-order {


  &__wrapper {
    position: relative;
    width: $container-d;
    margin: 0 auto;
  }

  &__title {

    margin: 0;
    

    font-family: $alter-font;
    font-size: 40px;
    line-height: 60px;

    text-align: center;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;

    font-family: $accent-font;
    font-size: 35px;
    line-height: 75px;
    font-weight: 400;

    text-align: center;
  }
}
