.individual-order {


  &__wrapper {
    position: relative;
    width: $container-d;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__title {

    margin: 0;


    font-family: $alter-font;
    font-size: 40px;
    line-height: 60px;

    text-align: center;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;

    font-family: $accent-font;
    font-size: 35px;
    line-height: 75px;
    font-weight: 400;

    text-align: center;
  }
}

@media (min-width: $tablet) {
  .individual-order {

    &__wrapper {
      width: $tablet;
      padding: 0 20px;

    }
    &__title {

      font-size: 28px;
      line-height: 40px;

    }

    &__subtitle {

      margin-bottom: 30px;

      font-size: 26px;
      line-height: 30px;
    }
  }
}
