.main-footer {
  background-color: $footer-bg;
  min-width: $container-d;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: $container-d;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 30px 10px 40px;

    border-bottom: 2px solid rgba(0, 0, 0, .3);
  }

  &__logo {

    font-family: $alter-font;

    font-size: 24px;
    line-height: 32px;

    text-decoration: none;
    color: $text;
  }
  &__copyright {
    padding-bottom: 15px;

    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, .5);
  }
}

@media (max-width: $container-d) {
  .main-footer {
    min-width: $tablet;
    background: #898989;

    &__wrapper {
      width: $tablet;
      padding: 25px 10px;
      box-sizing: border-box;
      display: flex;

    }
    &__logo {
      color: $white;
      font-size: 18px;
      line-height: 26px;
      margin-right: 25px;
    }
    &__copyright {
      color: $text;
    }
  }
}
@media (max-width: $tablet) {
  .main-footer {
    min-width: $mobile;
    background: #898989;

    &__wrapper {
      width: $mobile;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      padding: 25px 20px;

      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    &__logo {
      color: $white;
      font-size: 18px;
      line-height: 26px;
      margin-right: 25px;
    }
    &__copyright {
      color: $white;
    }
  }
}
