.order-steps {
  margin-bottom: 100px;

  &__step {

    padding: 70px 80px;
    margin-bottom: 35px;
    background: $white;
    &--decor {
      flex-wrap: wrap;

      background-image: url(../img/ill_cake_piece.png);
      background-repeat: no-repeat;
      background-position: 25px 200px;
      background-size: auto;

    }
  }
}

@media (max-width: $container-d) {
  .order-steps {
    margin-bottom: 45px;

    &__step {
      padding: 35px 45px;
      margin-bottom: 20px;
      &--decor {

        background-position: 25px 120px;
        background-size: 155px auto;

      }
    }
  }
}

@media (max-width: $tablet) {
  .order-steps {
    margin-bottom: 40px;
    &__step {
      padding: 10px 20px;
    }
  }
}
