.order-form {
  display: flex;

  &__block {
    flex-basis: 260px;
  }
  &__label {


    font-family: $accent-font;
    font-size: 27px;
    font-weight: 400;
    color: $accent;
  }
  &__filling {

    padding: 12px 0;

    font-family: $default-font;
    font-size: 18px;
    color: $text;


    border: none;
    border-bottom: 2px solid $bg;
  }
  &__button {
    align-self: flex-end;
  }
}

@media (max-width: $container-d) {
  .order-form {
    justify-content: space-around;
    width: 100%;
    &__block {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
      margin-right: 15px;

    }
    &__label {
      // flex-basis: 75px;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 18px;
    }
    &__filling {
      margin-top: 5px;
      padding: 7px 0;
      min-width: 160px;
      font-size: 12px;
      border: 2px solid $bg;
      border-radius: 24px;
      &--size--s {
        min-width: 75px;
        max-width: 75px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .order-form {
    flex-direction: column;

    &__block {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &__label {
      // flex-basis: 75px;
      margin-bottom: 5px;
      text-align: center;
    }
    &__filling {
      margin-top: 5px;
      &--size--s {
        min-width: 100%;
        max-width: 100%;
      }
    }
    &__button {
      align-self: center;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
}
