.order {

  // margin-top: -15px;

  background-color: #d42734;
  background-image: url(../img/gift_order.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  min-width: $container-d;

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    width: $container-d;
    margin: 0 auto;
    padding: 120px 10px 150px;

  }
  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: $alter-font;
    font-size: 40px;
    line-height: 50px;
    color: $white;
  }
  &__step-list {
    width: 505px;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  &__step-item {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet) and (max-width: $container-d) {
  .order {

    background-position: center top;
    min-width: $tablet;
    &__wrapper {
      width: $tablet;
      padding: 0 20px;
      box-sizing: border-box;
    }
    &__title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    &__step-list {
      width: 375px;
      margin: 25px 0;
    }
  }
}
