.order {

  margin-top: 60px;

  background-color: #d42734;
  background-image: url(../img/gift_order.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 1220px;
    margin: 0 auto;
    // padding-left: 715px;
    padding-top: 120px;
    padding-bottom: 150px;
  }
  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: $alter-font;
    font-size: 40px;
    line-height: 50px;
    color: $white;
  }
  &__step-list {
    width: 505px;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  &__step-item {
    margin-bottom: 25px;
  }
}
