.our-cakes {

  margin-top: -50px;

  &__title {
    flex-basis: $container-d;
    margin: 0;
    margin-bottom: 50px;

    font-family: $alter-font;
    font-size: 40px;
    line-height: 60px;

  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    width: $container-d;
    margin: 0 auto 100px;
    padding: 0 10px;

  }
  &__mini {

    &--right {
      margin-left: 40px;
      padding-bottom: 40px;
    }
    &--left {
      margin-right: 40px;
    }
  }
  &__link {
    max-height: 650px;
    text-decoration: none;
  }
}

@media (max-width: $container-d) {
  .our-cakes {


    &__wrapper {
      width: $tablet;
      padding: 0 20px;
      margin-bottom: 55px;
      box-sizing: border-box;
    }
    &__title {
      font-size: 28px;
      margin-bottom: 30px;
    }
    &__mini {

      &--right {
        margin-left: 18px;
        padding-bottom: 20px;
      }
      &--left {
        margin-right: 18px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .our-cakes {
    margin-top: 0;

    &__wrapper {
      width: $mobile;
      padding: 0 20px;
      margin-bottom: 35px;
      box-sizing: border-box;
    }
    &__title {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
    &__mini {

      &--right {
        margin: 0;
        padding: 0;
      }
      &--left {
        margin: 0;
        padding: 0;
      }
    }
  }
}
