.page-heading {

  width: 100%;

  &__wrapper {
    position: relative;

    width: $container-d;
    margin: 0 auto;
    padding: 140px 10px 270px;

    background-image: url(../img/ill_strawberry_1.png), url(../img/ill_raspberry.png), url(../img/ill_strawberry_2.png);
    background-repeat: no-repeat;
    background-position: 485px 30px, 445px 200px, 295px 370px;
    background-size: auto, auto, auto, auto;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 500px;
    //   width: 920px;
    //   height: 920px;
    //   background-image: url(../img/heading_cake.png);
    //   background-repeat: no-repeat;
    //   background-position: 0 top;
    //   background-size: contain;
    //   // overflow: visible;
    // }
  }
  &__title {

    width: 350px;

    margin: 0;
    padding-bottom: 25px;

    font-family: $alter-font;
    font-size: 78px;
    line-height: 70px;
  }
  &__slogan {
    display: block;

    padding-bottom: 70px;

    font-family: $accent-font;
    font-size: 40px;
  }
  &__description-advantages {
    display: flex;

    padding-top: 120px;
  }
  &__description-advantage {
    flex-basis: 250px;
    margin-right: 20px;
  }
  &__img-cake {
    position: absolute;

    top: 50px;
    margin-left: 535px;
  }
}

@media (max-width: $container-d) {
  .page-heading {

    // min-width: $tablet;
    &__wrapper {
      width: $tablet;
			padding: 100px 45px 140px;
			box-sizing: border-box;
      position: relative;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 500px;
      //   width: 520px;
      //   // height: 520px;
      //   background-image: url(../img/heading_cake.png);
      //   background-repeat: no-repeat;
      //   background-position: 0 20px;
      //   background-size: contain;
      // }
    }
    &__title {
      position: relative;
      z-index: 9;
      padding-bottom: 35px;

      font-size: 60px;
      line-height: 55px;
    }
    &__slogan {

      font-size: 36px;

    }
  }
}

@media (max-width: $tablet) {
  .page-heading {
    z-index: 0;

    &__wrapper {
      width: $mobile;
      padding: 170px 20px 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      // &::after {
      //   content: "";
      //   // z-index: 0;
      //   position: absolute;
      //   top: -115px;
      //   left: 0;
      //   // left: 500px;
      //   // width: 520px;
      //   height: 330px;
      //   background-image: url(../img/heading_cake.png);
      //   background-repeat: no-repeat;
      //   background-position: 0 0;
      //   // background-size: contain;
      // }
    }
    &__title {
      width: 100%;
      padding-bottom: 15px;

      font-size: 40px;
      line-height: 40px;
      text-align: center;
    }
    &__slogan {
      padding-bottom: 20px;

      font-size: 22px;
      text-align: center;
    }
    &__to-cake {
      order: 5;
      width: 225px;
      margin-top: 30px;
      align-self: center;
    }
    &__description-advantages {
      order: 4;
      display: flex;
      // width: $mobile;
      flex-wrap: wrap;
      // flex-direction: column;
      padding-top: 0;

    }
    &__description-advantage {
      flex-basis: 280px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
