.page-heading {

  width: 100%;

  background-image: url(../img/ill_strawberry_1.png), url(../img/ill_raspberry.png), url(../img/ill_strawberry_2.png);
  background-repeat: no-repeat;
  background-position: 55% 0, 47% 20%, 37% 40%;
  background-size: auto, auto, auto, auto;

  &__wrapper {
    position: relative;

    width: $container-d;
    margin: 0 auto;
    padding: 140px 10px 270px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 500px;
      width: 920px;
      height: 920px;
      background-image: url(../img/heading_cake.png);
      background-repeat: no-repeat;
      // background-position: 500px top;
      background-size: contain;
      // overflow: visible;
    }
  }
  &__title {

    width: 350px;

    margin: 0;
    padding-bottom: 25px;

    font-family: $alter-font;
    font-size: 78px;
    line-height: 70px;
  }
  &__slogan {
    display: block;

    padding-bottom: 70px;

    font-family: $accent-font;
    font-size: 40px;
  }
  &__description-advantages {
    display: flex;

    padding-top: 120px;
  }
  &__description-advantage {
    flex-basis: 250px;
    margin-right: 20px;
  }
  &__img-cake {
    position: absolute;

    top: 50px;
    margin-left: 535px;
  }
}
