.review {
  display: flex;
  padding: 20px 20px;

  &__img {
    align-self: center;
  }
  &__text {
    padding-left: 50px;
  }
  &__title {

    margin: 0;
    margin-bottom: 5px;

    font-family: $default-font;
    font-size: 27px;
    font-weight: 700;
  }
  &__subtitle {

    margin-bottom: 15px;

    font-family: $default-font;
    font-size: 20px;
    font-weight: 400;
  }
  &__description {

    font-family: $default-font;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  &__expand-btn {
    display: inline-flex;
    font-style: italic;
    color: $accent;
  }
}
