.reviews {

  margin-bottom: 150px;

  &__title {
    margin: 0;
    margin-bottom: 30px;

    font-family: $alter-font;
    font-size: 40px;
    line-height: 45px;

  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: $container-d;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__slider {

    width: 750px;
  }
}

@media (min-width: $tablet) and (max-width: $container-d) {
  .reviews {
    margin-bottom: 100px;
    &__title {

      font-size: 28px;
      line-height: 33px;

    }
    &__wrapper {
      width: $tablet;
      padding: 0 20px;
      box-sizing: border-box;
    }
    &__slider {

      width: 420px;
    }
  }
}
