.site-menu {
	position: relative;
	display: flex;
	justify-content: space-between;
	// width: 100%;

	margin: 0;
	padding: 0;

	list-style: none;

	font-family: $default-font, serif;
	font-size: 13px;
	line-height: 32px;

	&--text-trans {
		&--uppercase {
			text-transform: uppercase;
		}
		&--none {
			text-transform: none;
		}
		&--m {
			font-size: 16px;
		}
	}
	&__item {
	margin: 0 20px;
	}
	&__link {
		text-decoration: none;
		color: $text;

		&:hover {
			color: $accent;
		}

		&--active {
			color: $accent;

			&:hover {
				color: $text;
			}
		}
	}
}

@media (max-width: $container-d) {
	.site-menu {

		&--header {
			position: absolute;
			top: 25px;
			left: -111px;
			min-width: $mobile;
			flex-direction: column;

			z-index: 10;
			text-align: center;
		}
		&__item {
			&--header {
				margin: 0;
				background-color: $footer-bg;
				border-top: 1px solid rgba(0, 0, 0, .05);
			}
		}
		&__link {
			&--header {
				display: block;
				padding-top: 4px;
				padding-bottom: 4px;

				font-size: 12px;
			}
		}
		&--footer {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&__item {
			&--footer {
				margin: 0 25px;
				height: 25px;
			}
		}
		&__link {
			&--footer {
				color: $white;
				font-size: 12px;
				line-height: 16px;
			}
		}
	}
}

@media (max-width: $tablet) {
	.site-menu {

		&--header {
			top: 13px;
			left: -89px;
			min-width: $mobile;

			z-index: 10;
		}
		&__item {
			&--header {
				padding-top: 4px;
				padding-bottom: 4px;

			}
		}
		&__link {
			&--header {
				padding: 0;

				font-size: 12px;
			}
		}
		&--footer {
			display: flex;
			flex-direction: column;
			margin-bottom: 15px;
		}
		&__item {
			&--footer {
				margin: 0;
				height: 25px;
			}
		}
		&__link {
			&--footer {
				color: $white;
				font-size: 12px;
				line-height: 16px;
			}
		}
	}
}
