.site-menu {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 745px;

	margin: 0;
	padding: 0;

	list-style: none;

	font-family: $default-font, serif;
	font-size: 13px;
	line-height: 32px;


	&--text-trans {
		&--uppercase {
			text-transform: uppercase;
		}
		&--none {
			text-transform: none;
		}
		&--m {
			font-size: 16px;
		}
	}
	&__item {

	}
	&__link {
		text-decoration: none;
		color: $text;

		&--active {
			color: $accent;
		}
	}
}
