.social {

  &__text {
    margin: 0;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;

  }
  &__item {
    margin-right: 15px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    &--s {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: $white;
      fill: $accent;
      &:hover {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
      }
      &:hover path {

        fill: $text
      }
    }
    &--m {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: $white;
      fill: $accent;
      &:hover {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
      }
      &:hover path {

        fill: $text
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $container-d) {
  .social {

    &__link {
      &--footer {
        fill: $white;

        &:hover path {
        fill: $text;
        }
      }
    }
  }
}
