.step-list {
  display: flex;

  color: $white;

  &__number {
    min-width: 30px;
    padding-right: 15px;

    font-family: $alter-font;
    font-size: 64px;

  }
  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
  }
  &__description {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: $container-d) {
  .step-list {

    &__number {
      font-size: 36px;
    }
    &__title {
      font-size: 15px;
      margin: 0;
    }
    &__description {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
@media (max-width: $tablet) {
  .step-list {

    &__number {
      font-size: 35px;
      padding-right: 0;
    }
    &__title {
      font-size: 15px;
      margin: 0;
    }
    &__description {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
