.step {

  display: flex;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);

  // box-shadow: 0 0 13px 2px  rgba(163, 6, 60,.12);

  &__title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__number {

    margin: 0;
    padding-bottom: 20px;

    font-family: $alter-font;
    font-size: 58px;

    color: $accent;
  }
  &__subtitle {
    margin: 0;

    font-family: $alter-font;
    font-size: 27px;
    line-height: 30px;
    color: $accent;
  }
  &__slider {

    width: 750px;
  }
  &__decor-slider {
    margin: 0 60px 65px;
    width: 700px;
  }
  &__size {

  }
}

@media (min-width: $tablet) {
  .step {


    &__title {
      width: 110px;
      position: absolute;
    }
    &__slider {
      width: 450px;
      margin-left: 140px;
    }
    &__number {
      padding-bottom: 10px;

      font-size: 36px;

    }
    &__subtitle {
      width: 160px;
      font-size: 18px;
      line-height: 20px;

    }
    &__decor-slider {
      width: 430px;
      margin: 10px 0 35px 185px;
    }
    &__form {
      
    }
  }
}
