.step {

  display: flex;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);

  // box-shadow: 0 0 13px 2px  rgba(163, 6, 60,.12);

  &__title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__number {

    margin: 0;
    padding-bottom: 20px;

    font-family: $alter-font;
    font-size: 58px;

    color: $accent;
  }
  &__subtitle {
    margin: 0;

    font-family: $alter-font;
    font-size: 27px;
    line-height: 30px;
    color: $accent;
  }
  &__single-size {
    display: flex;
  }
  &__slider {

    // width: 750px;
  }
  &__decor-slider {
    // margin: 0 60px 65px;
    // width: 700px;
  }
  &__size {

  }
}

@media (max-width: $container-d) {
  .step {


    &__title {
      // flex-grow: 0;
      width: 90px;
      // position: absolute;
    }
    &__slider {
      width: 450px;
      // margin-left: 140px;
      // padding-left: 140px;
    }
    &__number {
      padding-bottom: 10px;

      font-size: 36px;

    }
    &__subtitle {
      width: 140px;
      font-size: 18px;
      line-height: 20px;

    }
    &__single-size {
      // display: flex;
    }
    &__decor-slider {
      width: 430px;
      height: 260px;
      // margin: 10px 0 35px 185px;
    }
    &__form {

    }
  }
}

@media (max-width: $tablet) {
  .step {
      // box-sizing: border-box;
      flex-wrap: wrap;
    &__slider {
      // width: 440px;
      // margin-left: auto;
      // padding: 0;
    }

    &__title {
      width: 240px;
      flex-direction: row;
      align-items: baseline;
    }
    &__number {
      margin-right: 15px;
      font-size: 30px;
    }
    &__subtitle {
      width: 190px;
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__size {
      border-bottom: .5px dashed black;
      margin-bottom: 15px;
      &:last-child {
        border-bottom: none;
      }
    }
    &__single-size {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    &__decor-slider {
      width: 240px;
    }
  }
}
